
table {
	margin: 0 auto;

	width: 80%;
	margin-top: 50px;
}

.task {
	border: 1px solid #ccc;
}

.task .task-completed {
	width: 5%;
	text-align: center;
}

.task .task-body {
	width: 80%;
}

.task .task-body p {
	padding: .2em;
	margin: 0;
}

.task .task-body .task-title {
	font-weight: bold;
}

.task .task-body .task-labels {
	font-style: italic;
	color: #999;
}

.task .task-score {
	width: 15%;
}

.completed {
	background-color: #eee;
	color: #999;
}

#ranking {
	margin: 2% 10% 0% 10%;
}

label {
	display: block;
}

input[type=button] {
	margin-top: 1%;
	padding: 5px;

	width: 5%;
}

#ranking-func {
	width: 100%;
	height: 400px;

	white-space: nowrap;
	vertical-align: top;

	padding: .5em;
}

#taskFilter {
	margin: 2% 10% 0% 10%;
}

#filter-func {
	width: 100%;
	padding: .5em;
}

